extends ../layout

block content
    h4.pt-3
    h4.text-center Asistente de armado de pc
    br
    a.btn.btn-info(href='/equipos/create') Elegir componentes
    a.btn.btn-danger(href='/') Cerrar Administrador de equipos
    a.btn.btn-secondary(href='/usuarios') Panel de usuarios (Administrador)
    br
    br
    br
    table.table
        thead
         tr
            th(scope='col') #
            th(scope='col') Procesador
            th(scope='col') Fuente
            th(scope='col') Placa de Video
            th(scope='col') Motherboard
            th(scope='col') Almacenamiento
            th(scope='col') Memoria Ram
            th(scope='col') Gabinete
            th(scope='col') Disipador
            th(scope='col') 
            th(scope='col') 
         tbody
         tr
          each equipo in equipos
           th(scope='row')= equipo.id
           td=equipo.procesador
           td=equipo.fuente
           td=equipo.graphics
           td=equipo.motherboard
           td=equipo.almacenamiento
           td=equipo.memoriaram
           td=equipo.gabinete
           td=equipo.disipador
           td
            a(href='equipos/'+equipo.id+'/update') Editar
           td
               form.inline(method='post' action='equipos/' + equipo.id + '/delete')
                 input(type='hidden' name='id' value=equipo.id)
                 button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger')='Eliminar'
           tr
           
           